@media (min-width: 1025px){
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0;
}

body{
    margin:0;
    font-family: sans-serif;
}

#btn-menu{
    display: none;
}

header{
   text-align: center;
   margin: 0;
}

header, #menuprincipal{
    background-color:#2E8B57;
    font-weight: 600;
}

label{
    color: white;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width:20px;
    display:none;
}

label:hover{
    background-color: #2E8B57;
    color: white;
}

#menuprincipal ul{
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: all .5s;
}

.linkMenu{
    display: block; 
    color:white;
    padding: 15px 20px;
}

.linkMenu:link{
    text-decoration: none;
}

.linkMenu:hover{
    background-color:white;
    color:black;
    border-radius: 15px;
    padding-bottom: 10px;
}

.linMenu:visited{
    color: white;
}

/* Pagina Principal*/

.fotos{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 1250px;
    height: 355px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); 
}

#fotoprincipal{
    margin-right: 2em;
    width: 400px; 
}

#campanha{
    margin-left: 2em;
    order: 1;
    width: 400px;
}

.texto{
    flex: 1;
}

.título{
    margin: 5%;
    text-align: center;
    font-size: 25px;
}

.parágrafo{
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
    padding-right: 15px;
    text-indent: 5%;
}

#adoção{
    background-color: #2E8B57;
    padding-bottom: 20px;
}

#adoção h1{
    text-align: center;
    color: white;
    width: 100%;
    font-size: 30px;
    padding-top: 30px;
}

.fotosAdoção{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;  
}

.fotosAdoção>img{
    margin: 10px;
    border: 2px solid white;
    border-radius: 10%;
}

.botão:link{
    text-decoration: none;
}

.botão{
    background: gray;
    color: white;
    padding: 10px;
    width: 10%;
    font-size: 15px;
}

.button{
    padding-left: 88%;
}

#buttonA{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 4%;
}

.linkRodapé:link{
    color: black;
    text-decoration: none;
}

/* Quem Somos*/

#textoQS{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 1250px;
    height: 375px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); 
}

#títuloQS{
    text-align: center;
    color: black;
}

.parágrafoQS{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 5%;
    padding-left: 40px;
    padding-right: 40px;
}

/*Campanhas*/

.campanha{
    display: flex;
    flex-direction: column;
}

#títuloCamp{
    color: black;
    padding: 10px;
    text-align: center;
}

#parágragoCamp{
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    text-indent: 5%;
    line-height: 1.5;
}

.imgCampanha {
    width: 1200px;
    text-align: center;
    margin-left: 60px;
    margin-right: 50px;
}

}

/*Adoção*/

.parágrafoAdoção{
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    text-indent: 5%;
    margin-left: 30px;
    margin-right: 40px;
}

#páginaAdoção{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.títuloAdoção{
    color: black;
    padding: 20px;
    text-align: center;
}

.cat1{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}
 
.cat2{
    background-color: white;
    width: 300px;
    height: 420px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat3{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat4{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat5{
    background-color: white;
    width: 300px;
    height: 440px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat6{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat7{
    background-color: white;
    width: 300px;
    height: 470px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat8{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge  #2E8B57;
    border-radius: 1%;
}

.cat9{
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat10{
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog1{
    background-color: white;
    width: 300px;
    height: 230px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog2{
    background-color: white;
    width: 300px;
    height: 380px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog3{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog4{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}
.dog5{
    background-color: white;
    width: 300px;
    height: 245px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog6{
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}
.dog7{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog8{
    background-color: white;
    width: 300px;
    height: 265px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog9{
    background-color: white;
    width: 300px;
    height: 440px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog10{
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.nomeAnimais{
    text-align: center;
    font-size: 20px;
}
/*Contatos*/
.titulocontatos{
    text-align: center;
    font-size: 40px;
}
form{
    text-align: center;
}
#nome{
    border-radius: 10px;
    width: 300px;
    height: 50px;
}
#email{
    border-radius: 10px;
    width: 300px;
    height: 50px;
}
#msg{
    border-radius: 10px;
    width: 310px;
    height: 150px;
}
#butão{
    width: 320px;
    height: 100px;
    border-radius: 10px;
    color:white;
    background-color: #2E8B57;
    font-size: 20px;
}
#butão:hover{
    background-color: whitesmoke;
    color:black;
    cursor: pointer;
    transition: all 0.5s;
}
