@media (min-width:768px) and (max-width: 1024px){
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 0;
}

body{
    margin:0;
    font-family: sans-serif;
}

#btn-menu{
    display: none;
}

header{
   text-align: center;
   margin: 0;
}

header, #menuprincipal{
    background-color:#2E8B57;
    font-weight: 600;
}

label{
    color:#2E8B57;
    font-size: 25px;
    display: block;
    padding: 5px 10px;
    width:20px;
    display:none;
}

label:hover{
    color: #2E8B57;
}

#menuprincipal ul{
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: all .5s;
}

.linkMenu{
    display: block; 
    color: #2E8B57;
    padding: 15px 20px;
    border-bottom: 1px solid #2E8B57;
    background-color: white;
}

.linkMenu:link{
    text-decoration: none;
}

.linkMenu:hover{
    background-color:#2E8B57;
    color:white;
    border: 10px;
}

.linMenu:visited{
    color: white;
}

/*Rodapé*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4%;
    font-size: 10px;
    margin-right: 15px;
    margin-left: 10px;
}

.linkRodapé:link{
    color: black;
    text-decoration: none;
}

/* Quem Somos*/

#textoQS{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 650px;
    height: 400px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); 
}

#títuloQS{
    text-align: center;
    color: black;
    padding-top: 30px;
    padding-bottom: 15px;
}

.parágrafoQS{
    text-align: justify;
    line-height: 1.5;
    text-indent: 5%;
    padding-left: 30px;
    padding-right: 30px;
}

.rodapéQS{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    padding-bottom: 50px;
}

label{
    display: block;
}

#menuprincipal ul{
    position: absolute;
    width:40%;
    display: flex;
    flex-direction: column;
    margin-left: -40%;
}
    
#btn-menu:checked ~ #menuprincipal ul{
    margin-left:0;
}

/*Campanhas*/

.campanha{
    display: flex;
    flex-direction: column;
}

#títuloCamp{
    color: black;
    text-align: center;
}

#parágragoCamp{
    text-align: justify;
    text-indent: 5%;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
}

.imgCampanha{
    margin-left: 40px;
    margin-right: 40px;
    width: 700px;
    height: 400px;
}

.ropdapéCamp{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    padding-bottom: 50px;
}

}

/*Adoção*/

.parágrafoAdoção{
    text-align: justify;
    line-height: 1.5;
    text-indent: 5%;
    padding-left: 20px;
    padding-right: 20px;
}

#páginaAdoção{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.títuloAdoção{
    color: black;
    text-align: center;
}

.cat1{
    background-color: white;
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}
 
.cat2{
    background-color: white;
    width: 300px;
    height: 420px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat3{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat4{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat5{
    background-color: white;
    width: 300px;
    height: 440px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat6{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat7{
    background-color: white;
    width: 300px;
    height: 470px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat8{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge  #2E8B57;
    border-radius: 1%;
}

.cat9{
    background-color: white;
    width: 300px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.cat10{
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog1{
    background-color: white;
    width: 300px;
    height: 230px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog2{
    background-color: white;
    width: 300px;
    height: 380px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog3{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog4{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}
.dog5{
    background-color: white;
    width: 300px;
    height: 245px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog6{
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}
.dog7{
    background-color: white;
    width: 300px;
    height: 240px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog8{
    background-color: white;
    width: 300px;
    height: 265px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog9{
    background-color: white;
    width: 300px;
    height: 440px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}

.dog10{
    background-color: white;
    width: 300px;
    height: 210px;
    padding: 10px;
    margin: 10px;
    border: 2px ridge #2E8B57;
    border-radius: 1%;
}


.nomeAnimais{
    text-align: center;
    font-size: 20px;
}


